@import "/src/style-variables.scss";

.banner {
    position: relative;
    width: 100%;
    min-height: 75vh;
    margin-bottom: 1rem;
    overflow: hidden;
}

.banner-background {
    width: 100%;
    // min-height: 75vh;
    background: radial-gradient(rgba(47, 47, 96, 0.7) 48%, rgba(51, 119, 236, 0.7) 87%),
        url("../../assets/rehearsal-background.png");
    background-size: cover, cover;
    background-position: center, 37% 20%;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: $nv-text-dark-bg;
    padding: 2em 2em;
    gap: 1rem;
}

.banner-header {
    margin: 0;
    max-width: 80%;
    font-size: 3em;
    color: $nv-text-dark-bg;
}

.banner-body {
    font-size: 0.75rem;
    line-height: 1.5rem;
    max-width: 100%;
}

@media screen and (min-width: 400px) {
    .banner-background {
        gap: 2rem;
    }
}

@media screen and (min-height: 700px) {
    .banner-body {
        font-size: 1rem;
    }
}

@media screen and (min-width: 700px) {
    .banner-background {
        min-height: 50vh;
    }
}

@media screen and (min-height: 900px) and (min-width: 700px) {
    .banner-body {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    button {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .banner-background {
        min-height: 60vh;
    }

    .banner-body {
        max-width: 1000px;
    }
}
