@import "../../style-variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-gap;
    padding: 2rem;
    background-color: $nv-dark-accent;
    color: $nv-text-dark-bg;
    text-align: center;
}

p {
    margin: 0;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
        display: flex;
        padding: 0;
        border-radius: 50%;
        background-color: transparent;

        :hover {
            cursor: pointer;
        }
    }
}

svg {
    margin: 0;
    padding: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;

    &.facebook {
        fill: white;
        background-color: #0866ff;
    }

    &.instagram {
        padding: 2px;
        fill: white;
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }

    &:hover {
        scale: 1.1;
    }
}

@media screen and (min-width: 700px) {
    .social-links {
        gap: 1rem;
    }
}
