$nv-primary-accent: #2f5aae;
$nv-secondary-accent: #2f5aae;
$nv-dark-accent: #09144a;
$nv-site-bg: #ffffff;
$nv-light-bg: #f4f5f7;
$nv-dark-bg: #121212;
$nv-text-color: #272626;
$nv-text-dark-bg: #ffffff;
$nv-c-1: #9463ae;
$nv-c-2: #be574b;
$nv-fallback-ff: Arial, Helvetica, sans-serif;
$container: 748px;
$postwidth: 100%;
$primarybtnbg: $nv-primary-accent;
$primarybtnhoverbg: $nv-primary-accent;
$primarybtncolor: #fff;
$secondarybtncolor: $nv-primary-accent;
$primarybtnhovercolor: #fff;
$secondarybtnhovercolor: $nv-primary-accent;
$primarybtnborderradius: 3px;
$secondarybtnborderradius: 3px;
$secondarybtnborderwidth: 3px;
$btnpadding: 13px 15px;
$primarybtnpadding: 13px 15px;
$secondarybtnpadding: calc(13px - 3px) calc(15px - 3px);
$bodyfontfamily: Arial, Helvetica, sans-serif;
$bodyfontsize: 16px;
$bodylineheight: 1.7em;
$bodyletterspacing: 0px;
$bodyfontweight: 400;
$bodytexttransform: none;
$h1fontsize: 36px;
$h1fontweight: 700;
$h1lineheight: 1.2;
$h1letterspacing: 0px;
$h1texttransform: none;
$h2fontsize: 02em;
$h2fontweight: 600;
$h2lineheight: 1.6em;
$h2letterspacing: 0px;
$h2texttransform: none;
$h3fontsize: 1em;
$h3fontweight: 600;
$h3lineheight: 1.6em;
$h3letterspacing: 0px;
$h3texttransform: none;
$h4fontsize: 1em;
$h4fontweight: 600;
$h4lineheight: 1.6em;
$h4letterspacing: 0px;
$h4texttransform: none;
$h5fontsize: 01.5em;
$h5fontweight: 600;
$h5lineheight: 1.6em;
$h5letterspacing: 0px;
$h5texttransform: none;
$h6fontsize: 01.5em;
$h6fontweight: 600;
$h6lineheight: 1.6em;
$h6letterspacing: 0px;
$h6texttransform: none;
$formfieldborderwidth: 2px;
$formfieldborderradius: 3px;
$formfieldbgcolor: $nv-site-bg;
$formfieldbordercolor: #dddddd;
$formfieldcolor: $nv-text-color;
$formfieldpadding: 10px 12px;
